{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
{% for ab in about %}
{% if about %}

<form action="/admin/aboutreceive/" enctype="multipart/form-data" method="post">
    <input type="text" name="title" value="{{ ab.title }}" class="inputtitle">title
    <div><input type="text" name="description" value="{{ ab.description }}" class="inputtitle">description</div>
    <input type="text" name="name" value="{{ ab.name }}" class="inputtitle">name
    <div><input type="file" name="img"/>image</div>
    <div><textarea name="about" rows="3" cols="60">{{ ab.about }}</textarea>about</div>
    <input type="submit" value="Talk About You">
</form>
{% else %}
<form action="/admin/aboutreceive/" enctype="multipart/form-data" method="post">
    <input type="text" name="title" value="{{ ab.title }}" class="inputtitle">title
    <div><input type="text" name="description" value="{{ ab.description }}" class="inputtitle">description</div>
    <input type="text" name="name" value="{{ ab.name }}" class="inputtitle">name
    <div><input type="file" name="img"/>image</div>
    <div><textarea name="about" rows="3" cols="60">{{ ab.about }}</textarea>about</div>
    <input type="submit" value="Talk About You">
</form>
{% endif %}

    <h3 class="vvvvvv"><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
    <h3 class="vvvvvv"><a href="/">back main</a></h3>
    <h3 class="vvvvvv"><a href="/admin/doclist/">Doc List</a></h3>
    <h3 class="vvvvvv"><a href="/admin/">Admin</a></h3>
    <blockquote>{{ ab.name }} and {{ ab.about }}</blockquote>
    <blockquote>{{ ab.title }} and {{ ab.description }}</blockquote>
    <div><img src='/image/{{ ab.idc }}/'></img></div>
    <hr>     
{% endfor %}
{% endblock %} 
