{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block admin %}
<div id="admin">

<form action="/admin/aboutreceive/" enctype="multipart/form-data" method="post">
    <input type="text" name="title" value="{% for ab in about %}{{ ab.title }}{% endfor %}" class="inputtitle">title
    <div><input type="text" name="description" value="{% for ab in about %}{{ ab.description }}{% endfor %}" class="inputtitle">description</div>
    <input type="text" name="name" value="{% for ab in about %}{{ ab.name }}{% endfor %}" class="inputtitle">name
    <div><input type="file" name="img"/>image</div>
    <div><textarea name="about" rows="3" cols="60">{% for ab in about %}{{ ab.about }}{% endfor %}</textarea>about</div>
    <input type="submit" value="Talk About You">
</form>


    <h3 class="vvvvvv"><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
    <h3 class="vvvvvv"><a href="/">back main</a></h3>
    <h3 class="vvvvvv"><a href="/admin/doclist/">Doc List</a></h3>
    <h3 class="vvvvvv"><a href="/admin/">Admin</a></h3>
    <h3 class="vvvvvv"><a href="/admin/doctheme/">Theme</a></h3>
    <hr>
{% for ab in about %}
    <span class="vvvvv">{{ ab.name }}</span> and <span class="vvvv">{{ ab.about }}</span>
    <div>{{ ab.title }} and {{ ab.description }}</div>
    <div><img src='/image/{{ ab.idc }}/'></img></div>
    <hr>
{% endfor %}
</div>
{% endblock %} 
