{% extends "base.html" %}


<!-- ftitle-->
{% block title %}The current time{% endblock %}
  
    {% block content %}
    <!-- content.from./docreceive/-->
    <form action="/docreceive/" method="post">
      <input type="text" name="title">Title 
      <br>
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <br>
      <input type="text" name="tags">Tags
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
      <h3><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
    {% endblock %} 