<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/grid.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
<div id="center">{% block header %}
    <div id="header"> 
	<h1 id="blog_title"><a href="/" class="w">You can speed it up, you can slow it down, you can even freeze a moment.</a></h1> 
	<h2 id="blog_description">you can not rewind time. You can not undo what it was done2.</h2> 
    </div>{% endblock %}    
    {% block content %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block docpage %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</div>
</body>
</html>