{% extends "base.html" %}


<!-- ftitle-->
{% block title %}The current time{% endblock %}


<!-- content-->
{% block content %}

    <!-- content.modelDocPost -->
    {% for mdp in modelDocPost %}
      {% if mdp.author %}
        <b>{{ mdp.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ mdp.idc }}</blockquote>
      <blockquote>{{ mdp.date }}</blockquote>
      <blockquote><a href="/doc/{{ mdp.idc }}/">{{ mdp.title }}</a></blockquote>
      <blockquote>{{ mdp.content|escape }}</blockquote>
      <blockquote>{{ mdp.commentcount }}</blockquote>
      {% for t in mdp.tags %}
        <a href="/tag/{{ t }}/">{{  t  }}</a>
      {% endfor %}
    {% endfor %}
    
    {% if mm.previous or mm.next %}
	<div id="nav_post">
		{% if mm.previous %}
		<div id="nav_prev">
			<a href="/p/{{mm.previous}}/" class="nav">Siguientes >></a>
		</div>
		{% endif %}

		{% if mm.next %}	
		<div id="nav_next">
				<a href="/p/{{mm.next}}/" class="nav"><< Anteriores</a>
		</div>
		{% endif %}	
	</div>
    {% endif %}
    
    <h3><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
    <h3><a href="/admin/">admin</a></h3>  
{% endblock %}