{% extends "base.html" %}
{% block title %}Chrysanthemum Error{% endblock %}

{% block header %}<div id="header"> </div>{% endblock %} 
<!-- content -->
{% block content %}
<div id="admin">
        <h1>Back <a href="/">main</a></h1>
        <p>访问的页面不存在</p>
        <p>Visit the page does not exist</p>
        <p>訪問したページは存在しません</p>
        <p>방문 페이지가 존재하지 않습니다</p>
        <p>Truy cập vào trang không tồn tại</p>
        <p>यात्रा पृष्ठ मौजूद नहीं है</p>
        <p>訪問該網頁不存在</p>
        <p>ไปที่หน้าไม่มี</p>
        <p>访问的页面不存在</p>
        <h4>translate by <a href="http://translate.google.com/">Google</a></h4>
</div>
{% endblock %}   