{% extends "base.html" %}


<!-- ftitle-->
{% block title %}The current time{% endblock %}
  
    {% block content %}
    <!-- content.from./docreceive/-->
    
    <form action="/admin/doclistreceive/" method="post">
        <input type="text" name="linkname">name
        <br>
        <input type="text" name="link">Link
        <br>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
      <h3><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
      <h3><a href="/">back main</a></h3>
      {% for li in link %}
      <div>
      <a href="{{ li.link }}">{{ li.name }}</a>{{ li.link }}
      <a href="/admin/deldoclist/{{ li.idc }}/">Del </a>
      </div>
      <hr>
      {% endfor %}
        <hr>
        <hr>
        <hr>
      {% for co in comment %}
        <div>
        <span>{{ co.title }}</span>
        <span><a href="/doc/{{ co.idc }}/">View</a></span>|<span><a href="/admin/deldoc/{{ co.idc }}/">Del </a></span>
        </div>------>>
        {% for mdoo in co.post_comment %}|
            <span>{{ mdoo.comment }}  <a href="/admin/delcomment/{{ mdoo.idc }}/{{ co.idc }}/">Del </a></span>
        {% endfor %}
        <hr>
      {% endfor %}
    {% endblock %} 
