{% extends "doc.html" %}
{% block title %}{% for mdo in modelDocOne %}{{ mdo.title }}{% endfor %}{% endblock %}

{% block header %}
    <div id="pheader"> {% for p in pro %}
        <h1 id="blog_title"><a href="/" class="w">{{ p.title }} </a></h1> 
        <h2 id="blog_description">{{ p.description }} </h2> 
    </div>{% endfor %}
{% endblock %}

{% block sidebar %}
    <div id="psidebar">
        <div id="profile"><h2 class="r">Profile</h2>
            <ul id="taglist">{% for p in pro %}
                <li>{{ p.name }}</li>
                <li><img src='/image/{{ p.idc }}/'></img></li>
                <li>{{ p.about }}</li>{% endfor %}
            </ul>
        </div>
        <div id="tag"><h2 class="r">Tag</h2>
            <ul id="taglist">{% for tag in tagList %}
                <li><a href="/tag/{{ tag.tag }}/">{{ tag.tag }}<span class="tagcount">({{ tag.tagcount }})</span></a></li>{% endfor %}
            </ul>
        </div>
        {% for li in link %}
        <div id="lixx{{ li.name }}"><h2 class="r">{{ li.name }}</h2>
            <ul id="linklist">{% for lit in li.list_you %}
                <li><a href="{{ lit.link }}">{{ lit.comment }}</a></li>{% endfor %}
            </ul>
        </div> {% endfor %}
        <div id="all"><h2 class="r">All</h2>
            <ul id="textall">
                <li><a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></li>
                <li><a href="/admin/">admin</a></li>
            </ul>
        </div>
	<div id="subscribe"><h2 class="r">Subscribe</h2>
            <ul id="rss">
                <li><span><img src="/static/image/feed.png"></img></span><a href="/feed/">feed</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="pdoc">{% for mdo in modelDocOne %}
        <h1>{{ mdo.title }}</h1>   
        <span>{{ mdo.date|date:"m-j-Y" }}</span>
        <span class="author">{% if mdo.author %}  Posted by <a href="#">{{ mdo.author.nickname }}</a>{% else %}  Posted by  <a href="#">An</a>{% endif %}</span>   
        <span>{{ mdo.content|linebreaks }}</span>
        <span>{{ mdo.commentcount }}</span>{% for t in mdo.tags %}
        <a href="/tag/{{ t|escape }}/">{{  t  }}</a>{% endfor %}{% if u %}    
        <form action="/comment/" method="post">
            <div><textarea name="content" rows="3" cols="60">Ccdjh.Marx and Y.gigi</textarea></div>
            <div><input type="hidden" name="commentIdc" value="{{ mdo.idc }}"/><div>
            <div><input type="submit" value="Comment"></div>
            <div><input type="checkbox" name="gravatar">User Gravatar</div>
        </form>
        <a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a>{% else %}
        <h3>plase login you google <a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>{% endif %}
            {% for mdoo in mdo.post_comment %}
            <div><img src='{{ mdoo.image }}' alt="guest" /></div>
            <h3>{{ mdoo.comment|escape }}</h3>
            <span>{{ mdoo.idc }}</span>
            <span>{{ mdoo.date }}</span>
            <span>{{ mdoo.author  }}</span>{% endfor %}
    </div>{% endfor %}        
{% endblock %}

{% block footer %}
    <div id="pfooter"> Dust theme designed by <a href="http://www.livid.cn/">Livid</a>,  powered by <a href="http://engine.google.com"><strong>Google App Engine</strong></a>.Clown is <a href="#"><strong>Ccdjh.Marx</strong></a>.
    </div>
{% endblock %}