
{% extends "doc.html" %}


<!-- ftitle-->
{% block title %}
    {% for mdo in modelDocOne %}{{ mdo.title }}{% endfor %}
{% endblock %}


<!-- content -->
{% block content %}

        {% for mdo in modelDocOne %}
            <h1>{{ mdo.title }}</h1>
            <span>{{ mdo.idc }}</pan>   
            <span>{{ mdo.date }}</span>
            <span>{{ mdo.content|linebreaks }}</span>
            <span>{{ mdo.commentcount }}</span>
        
            {% for t in mdo.tags %}
                <a href="/tag/{{ t|escape }}/">{{  t  }}</a>
            {% endfor %}
            
            {% if u %}    
                <form action="/comment/" method="post">
                    <div><textarea name="content" rows="3" cols="60">Ccdjh.Marx and Y.gigi</textarea></div>
                    <div><input type="hidden" name="commentIdc" value="{{ mdo.idc }}"/><div>
                    <div><input type="submit" value="Comment"></div>
                    <div><input type="checkbox" name="gravatar">User Gravatar</div>
                </form>
                <a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a>
            {% else %}
                <h3>plase login you google <a href="{{ listNeed.url }}">{{ listNeed.urlLinktext }}</a></h3>
            {% endif %}
            
            {% for mdoo in mdo.post_comment %}
                <div><img src='{{ mdoo.image }}' alt="guest" /></div>
                <h3>{{ mdoo.comment|escape }}</h3>
                <span>{{ mdoo.idc }}</span>
                <span>{{ mdoo.date }}</span>
                <span>{{ mdoo.author  }}</span>
            {% endfor %}
            
        {% endfor %}
        <a href="/">main</a>
{% endblock %}   