{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block admin %}
<div id="admin">
<div id="themeone">
    <form action="/admin/docthemereceive/" enctype="multipart/form-data" method="post">
        <input type="text" name="name">name<br/>
        <input type="text" name="link">Link<br/>
        <input type="text" name="author">author<br/>
        <input type="file" name="img"/>avatar<br/>
        <input type="submit" value="add theme">
    </form>
<div>
    <hr>
<div id="themetwo">  
<form action="/admin/themereceive/" method="post">
    <div class="themelist">
        <div><img src='/static/image/demo/white.jpg'></img></div>
        <div><span class="vvvvv">Theme:</span>white</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" checked="checked" name="th" value="white"> white-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/purple.jpg'></img></div>
        <div><span class="vvvvv">Theme:</span>purple</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" name="th" value="purple"> purple-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/orange.jpg'></img></div>
        <div><span class="vvvvv">Theme:</span>orange</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" name="th" value="orange"> orange-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/night.jpg'></img></div>
        <div><span class="vvvvv">Theme:</span>night</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" name="th" value="night"> night-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/dust.jpg'></img></div>
        <div><span class="vvvvv">Theme:</span>dust</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" name="th" value="dust"> dust-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/mour.png'></img></div>
        <div><span class="vvvvv">Theme:</span>mour</div>
        <div><span class="vvvv">Author:</span><a href="http://blog.kf25.cn/romoo">Romoo</a></div>
        <div><input type="radio" name="th" value="mour"> mour-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/light.png'></img></div>
        <div><span class="vvvvv">Theme:</span>light</div>
        <div><span class="vvvv">Author:</span><a href="http://www.livid.cn">livid</a></div>
        <div><input type="radio" name="th" value="light"> light-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/grid.png'></img></div>
        <div><span class="vvvvv">Theme:</span>grid</div>
        <div><span class="vvvv">Author:</span><a href="http://www.singrun.com">Singrun</a></div>
        <div><input type="radio" name="th" value="grid"> grid-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/cloud.png'></img></div>
        <div><span class="vvvvv">Theme:</span>cloud</div>
        <div><span class="vvvv">Author:</span><a href="http://www.saicn.com">Sai</a></div>
        <div><input type="radio" name="th" value="cloud"> cloud-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/flamingo.png'></img></div>
        <div><span class="vvvvv">Theme:</span>flamingo</div>
        <div><span class="vvvv">Author:</span><a href="http://www.ccdjh.cn">ccdjh</a></div>
        <div><input type="radio" name="th" value="flamingo"> flamingo-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/tropical.png'></img></div>
        <div><span class="vvvvv">Theme:</span>tropical</div>
        <div><span class="vvvv">Author:</span><a href="http://www.ccdjh.cn">ccdjh</a></div>
        <div><input type="radio" name="th" value="tropical"> tropical-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/ivory.png'></img></div>
        <div><span class="vvvvv">Theme:</span>ivory</div>
        <div><span class="vvvv">Author:</span><a href="http://www.ccdjh.cn">ccdjh</a></div>
        <div><input type="radio" name="th" value="ivory"> ivory-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/cerulean.png'></img></div>
        <div><span class="vvvvv">Theme:</span>cerulean</div>
        <div><span class="vvvv">Author:</span><a href="http://www.ccdjh.cn">ccdjh</a></div>
        <div><input type="radio" name="th" value="cerulean"> cerulean-</div>
    </div>
    <div class="themelist">
        <div><img src='/static/image/demo/cobalt.png'></img></div>
        <div><span class="vvvvv">Theme:</span>cobalt</div>
        <div><span class="vvvv">Author:</span><a href="http://www.ccdjh.cn">ccdjh</a></div>
        <div><input type="radio" name="th" value="cobalt"> cobalt-</div>
    </div>
    
    {% for t in y %}
    <div class="themelist">
        <div><img src='/imagetheme/{{ t.idc }}/'></img></div>
        <div><span class="vvvvv">Theme:</span>{{ t.name }}</div>
        <div><span class="vvvv">Author:</span><a href="{{ t.link }}">{{ t.author }}</a></div>
        <div><input type="radio" name="th" value="{{ t.idc }}"> {{ t.name }}</div>
    </div>
    {% endfor %}
    <br/>
    <input type="submit" value="Select">
</form>
</div>
<h3 class="vvvvvv"><a href="/">back main</a></h3>
<h3 class="vvvvvv"><a href="/admin/about/">About Me</a></h3>
<h3 class="vvvvvv"><a href="/admin/">Admin</a></h3>
<h3 class="vvvvvv"><a href="/admin/doclist/">Doc List</a></h3>
</div>
{% endblock %}