.vv {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #EFEFCF;
padding: 2px;
text-align: left;
}
.vvv a:hover {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: red;
padding: 2px;
text-align: left;
color:#fff;
}

.vvvv {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
background-color: rgb(227,204,189);
padding: 3px;
text-align: left;
color:#000;
}
.vvvvv {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
background-color: rgb(121,192,206);
padding: 3px;
text-align: left;
color:#000;
}
.vvvvvv {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
background-color: rgb(92,181,170);
padding: 3px;
text-align: left;
color:#fff;
width:100px;
display:inline-block;
}
#themetwo .themelist{
    display: inline-block;
    background-color:#999;
    margin-right:10px;
    margin-bottom:12px;
}
#admin{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: rgb(236,214,202);
    padding: 3px;
}
.cdel{
    display: inline-block;
    margin-right:3px;
    margin-top:8px;
}