body {
background-color: #E3E5DA;
padding: 20px 0px 20px 0px;
margin: 0px;
font-family: "Lucida Grande", Verdana, Tahoma, hei;
background: #E5F1F4 url("http://mac.6.cn/weblog-static/themes/cloud/bg.gif") 50% 0 fixed no-repeat;
}

div#main {
max-width: 700px; 
margin-left: auto;
margin-right:  auto;

}

img {
border:0;
}

#blog_description{
background-color: #FFF;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
font-size:12px;
text-align: center;
color: #999;
}
#mainb {
background-color: #FFF;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}
#blog_title {
background-color: #FFF;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
padding-left: 10px;
padding-top:20px;
padding-bottom:20px;
margin: 20px 0px 20px 0px;
font-size: 20px;
font-family: "Baskerville", "Arno Pro", "Arial Black";
text-align: left;
color: green;
}



#footer,#pfooter,#tfooter {
text-align: center;
margin-top:10px;
font-size: 10px;
height: 25px;
line-height:25px;
background-color: #FFF;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}

#contentb,#pdoc,#tdoc {
padding: 10px;
margin-top:15px;
background-color: #FFF;
text-align: left;
font-size: 10px;
line-height: 24px;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}



#blog_title a:link, #blog_title a:visited {
color: #055C31;
text-decoration: none;
outline: none;
font-size: 16px;
}

#blog_title a:hover {
color: #667;
text-decoration: underline;
outline: none;
font-size: 16px;
}

#blog_title a:active {
background-color: #667;
color: #FFF;
text-decoration: none;
outline: none;
font-size: 16px;
}



a:link,a:visited {
color: #333;
text-decoration: none;
outline: none;
font-size: 10px;
}

a:hover {
color: #667;
text-decoration: underline;
outline: none;
font-size: 10px;
}

#sidebar,#docpage,#commentcount{
    display:none;
}
#psidebar{
    display: none;
}
.author,.listtag{
    display:none;
}
#mainb .content{
    display:none;
}
.doc .date{
    display:none;
}